.product-description{
    width: 700px;
    margin: auto;
    height: 700px;
    /* border: solid 1px red; */
}
.product-description-wrapper{
    display: flex;
}
.product-image{
    width:350px;
    height: 700px;
    /* border: solid 1px red; */
}

.product-detail{
    width:350px;
    height: 700px;
    /* border: solid 1px red; */
}

