.cart-items-box
{
    
    width: 600px;
    margin-right: 160px;
    border: solid 4px red;
    margin: 20px;
    border-radius: 5px;
}
.cart-items-wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.cart-items-image{
    height: 140px;
    width: 50px;
    border: solid 2px green;
}
.cart-image{
    height: 140px;
    width: 50px;
    
}
.cart-items-name{
    
    border: solid 2px green;
}
.cart-items-offer{
    
    border: solid 2px green;
}
.cart-items-count{
    
    border: solid 2px green;
}

.cart-items-details{

    
    text-align: center;
    border: solid 2px green;
}
.cart-items-price{
    
    border: solid 2px green;
}
.quantity-button1{
    height: 40px;
    width: 40px;
    margin-left: 150px;
    border-radius: 10px;
    border:none;
    background-color: yellow;
    cursor: pointer;
}
.quantity-button2{
    height: 40px;
    width: 40px;
    margin-left: 4px;
    border-radius: 10px ;
    border:none;
    background-color: yellow;
    cursor: pointer;
}
.quantity-num{
    display:inline;
    margin-left: 4px;
    font-size: 20px;
}
.quantity-button1:hover{
    background-color: orange;
}
.quantity-button2:hover{
    background-color: orange;
}
.remove-button{
    margin-left: 150px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: red;
    color: yellow;
    cursor: pointer;
    border: none;
}
.remove-button:hover{
    color: white;
}
