.cart-items-box
{
    
    width: 600px;
    margin-right: 160px;
    border: solid 4px red;
    margin: 20px;
}
.cart-items-wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.cart-items-image{
    height: 100px;
    width: 50px;
    border: solid 2px green;
}
.cart-image{
    height: 100px;
    width: 50px;
    
}
.cart-items-name{
    
    border: solid 2px green;
}
.cart-items-offer{
    
    border: solid 2px green;
}
.cart-items-details{

    
    text-align: center;
    border: solid 2px green;
}
.cart-items-price{
    
    border: solid 2px green;
}