header{
    background-color: gray;
    position: sticky;
    top: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{
    color:red;
}
.logo:hover{
    color:white;
    cursor: pointer;
}
.link{
    margin-left: 40px;
    text-decoration: none;
    color:blue;
    font-size: 20px;
    position: relative;
    top: 25px;
}
.link:hover{
    color: white;
}

.nav-bar{
    align-items: center;
}

